{% extends "home.html" %}

{% if user.is_authenticated %}

{% block title %} <title>Dashboard</title> {% endblock %}
    {% block script %}
        <script src="http://code.jquery.com/jquery-1.11.0.min.js" type ="text/javascript" ></script>
    {% endblock %}

    {% block dashboard %}
        <script type ="text/javascript">
            function selected_value() {
                data ={}
                var select = document.getElementById("filter_on");
                var t = select.options[select.selectedIndex].value;
                console.log(t)
                $('#1').val(t);
                $('#2').click();
                <!--$.ajax({-->
                    <!--url: "url 'dashboard'",-->
                    <!--type: 'get',-->
                    <!--data:{-->
                        <!--'filter_data': t-->
                    <!--},-->
                    <!--success: function(data){-->
                        <!--console.log("success");-->
                        <!--$('.table').html('').load("{% url 'dashboard' %}"-->
                    <!--},-->
                    <!--failure: function(data){-->
                        <!--alert('ERROR!');-->
                    <!--}-->
                <!--});-->
            }
        </script>
        <h2>Inventory Details</h2> <br/>
        SELECT: <select id="filter_on" onchange="selected_value()">
        <option value="X" {% if data = "" %} selected {% endif %} > ------</option>
        <option value="member" {% if data = "member" %} selected {% endif %}> Member
        </option>
        <option value="owner" {% if data = "owner" %} selected {% endif %} > Owner
        </option>
        </select>
        <form method="POST" style="visibility:hidden" >
            {% csrf_token %}
            <input name="filter_data" value="" id="1">
            <input type="submit" id="2">
        </form>
        {% block table_list %} {% endblock %}
        <br/>
          <h3><a href="{% url 'inven_detail_pg' "> Detail Inventory </a></h3>
        <br/>
    {% endblock %}
{% endif %}