<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}<title>Home Page</title>{% endblock %}
    {% block script %} {% endblock %}
</head>
<body>

    <header><strong>
        {% if user.is_authenticated %}
            <h2>Hello, welcome {{user.first_name}} !<br/>
                <a href="{% url 'profile_show' %}"> Profile</a>
                <a href="{% url 'dashboard' %}"> Home</a>
                <a href="{% url 'logout_pg' %}"> Logout</a>
                <a href="{% url 'new_inventory' %}">Create new Inventory</a>
            </h2>
        {% else %}
            <h1><p>Welcome to inventory management</p></h1><br/>
            <a href="{% url 'sign_pg' %}"> SIGNUP       </a>
            Already a member? Login? <a href="{% url 'login_pg' %} "> LOGIN       </a>
        {% endif %}

    </strong></header>

    {% block dashboard %}{% endblock %}
    <footer>
        <h3>
        {% if user.is_authenticated %}
          <a href="{% url 'logout_pg' %}"> Logout       </a>
        {% endif %}
        </h3>
    </footer>
</body>
</html>