{% extends "home.html" %}

{% block dashboard %}
    {% if user.id == object.owner.id %}
            <ul>
                <li>Inventory : {{ object.name }}</li>
                <li>Description : {{ object.description }}</li>
                <li>Members : {{object.members}}</li>

            </ul>
            <form method="POST">
                {%  csrf_token    %}
                {{form.as_p}}
                <input type="submit" value="Update" />
            </form>
        {% endif %}

{% endblock %}