{% extends "home.html" %}
{% block dashboard %}
    <h2>Create New Inventory</h2> <br/>
    <form method="POST">
        {% csrf_token %}

        {{inven_form.as_p}}
        <br/>
        <input type="submit" value="Submit"><br/>
    </form>
{% endblock %}
