{% extends "home.html" %}
{% user.is_authenticated %}
    {% block dashboard %}
        <ul>
            <!--a.edit inventory not create-->
            <li><a href="{% url 'new_item' %}">Create New Item </a></li>
            <li><a href="{% url 'provision_item' %}">Provision/Issue Item</a></li>

        </ul>

        {% if owner_list %}
            <!--Not needed because on clicking on a specific entry this will be displayed for inven in owner -->
                <!--<li>{{ inven.name }}</li>-->
                    <table>
                        <tr>
                            <th>Item Name </th>
                            <th>Excerpt (20 chars max.) of Description of item</th>
                            <th>Returnable</th>
                            <th>Provisioned/Issued to</th>
                            <th>Returned (if returnable)</th>
                            <th>Date [to be] returned on (if returnable)</th>
                            <th>Return link (if returnable and not returned yet)</th>
                        </tr>
                        <tr>
                            {% for item in owner_list %}
                                <td><a href=" url '' inv.id ">{{item.name}}</a></td>
                                <td>{{item.description}}</td>
                                <td>{% if {{item.returnable}} %}
                                        Returnable
                                    {% else %} Non-returnable
                                    {% endif %}
                                </td>
                                <td><ul>{{item.issued_to}}<!--change this---></ul></td>
                                <td></td>
                                <td>{{object.retrun_date}}</td>
                            <td><a href=" url '' i ">Return</a></td>
                            {% endfor %}
                         <td></td>
                        </tr>
        {% endif %}
        <!--</table>-->
        <!-- if member -->
                <!--<table>-->
                    <!--<tr>-->
                        <!--<th>Item Name </th>-->
                        <!--<th>Excerpt (20 chars max.) of Description of item</th>-->
                        <!--<th>Returnable </th>-->
                        <!--<th>Date [to be] returned on (if returnable)</th>-->
                        <!--<th>Return link (if returnable and not returned yet)</th>-->
                     <!--<td>{{ inven.name }}</td>-->
                     <!--<td> Member </td>-->
                    <!--</tr>-->
                <!--</table>-->
        <!-- endif -->

    {% endblock %}
{% endif %}