{% extends "home.html" %}
{% block dashboard %}
    <ul>
        <li>Name : {{object.i_name}}</li>
        <li>Description :{{object.i_desc}}</li>
        <li>returnable :{{object.returnable}}</li>
        <li>quantity :{{object.quantity}}</li>
    </ul>
    <a href="">Edit</a>
    <!--edit link or submit button-->
    {% if user.id == object.invent.owner.id %}
        <form method="POST">
            {%  csrf_token    %}
            {{form.as_p}}
            <input type="submit" value="Update" />
        </form>
    {% endif %}

{% end block %}