{% extends "home.html" %}
{% block dashboard %}
    {% if user = object.invent.owner %}
        <!--{% if provisioned then donot delete %}-->
        <form action="" method="post">
            {% csrf_token %}
            <p>Are you sure you want to delete "{{ object }}"?</p>
            <input type="submit" value="Confirm" />
        </form>
    {% endif %}
{% end block %}