{% extends "home.html" %}
    {% block title %}<title>Create Item</title> {% endblock %}

    {% block dashboard %}
        <h2>Create Item</h2> <br/>
        <form method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <br/>
            <input type="submit" value="Submit"><br/>
        </form>
    {% endblock %}
 <!--after submit redirect to inventory details-->

</body>
</html>