<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
</head>
<body>

    <h1><center>LOGIN PAGE</center></h1><br/>
    <form method="POST" action="">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Submit">
    </form>
    <a href="{% url 'sign_pg' %}"> SIGNUP       </a>
    <br/>

</body>
</html>
