{% extends 'home.html' %}
        {% block dashboard %}
            <ul>
                Profile Picturce :<br/>
                <img src="{{ object.profilepic }}" alt="You haven't uploaded a pic!">
                <li>Email_id : {{object.email_add}}</li>
                <li>First_name : {{ object.first_name }}</li>
                <li>Last_name: {{ object.last_name }}</li>
                <li>Email_add: {{ object.email_add}}</li>
                <li>DOB: {{ object.DOB }}</li>
                <li>Phone: {{ object.phone }}</li>
                <li>Address: {{ object.address }}</li>
                <li>Gender:{% if object.gender == 'F' %} Female {% else %} Male {% endif %}</li>
            </ul>
            <a href="{% url 'profile_update' %}">Edit Profile</a>
            <a href="{% url 'change_password' %}">Change Password</a>

        {% endblock %}


</body>
</html>