<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign UP page</title>
</head>
<body>
    <center>INVENTORY MANAGEMENT </center><br/>
    WELCOME!
    Signup :<br/>
    <form method="POST" action="">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Submit">
    </form>
    <br/>

</body>
</html>