{% extends "dashboard.html" %}

{% block table_list %}

    <table>
        <tr>
            <th>Inventory Name </th>
            <th>Owner/Member   </th>
        </tr>
        {% if owner_of %}
            {% for inven in owner_of %}
                 <tr>
                     <td><a href="{% url 'inven_detail_pg' data inven.id %}">{{ inven.name }}</a></td>
                     <td> Owner </td>
                 </tr>
            {% endfor %}
        {% endif %}
        {% if member_of %}
            {% for inven in member_of %}
                 <tr>
                     <td><a href="{% url 'inven_detail_pg' data inven.id %}">{{ inven.name }}</a></td>
                     <td> Member </td>
                 </tr>
            {% endfor %}
        {% endif %}
    </table>

{% endblock %}