{% extends 'profile.html' %}

    {% block dashboard %}
        <form method="POST">
            {%  csrf_token    %}
            {{form.as_p}}
            <input type="submit" value="Update" />
        </form>
    {% endblock %}
</body>
</html>